.navbar{
  overflow: hidden;
  float: left;
  display:block;
  position: absolute;
  top: 10px;
  left: 0px;
  text-align: right;
  width:95%;

}
.center{
display: block;
position: relative;
right: 100px;
left: 250px;
margin-left: 300px;
margin-right: 150px;
margin-top:150px;
margin-bottom: 110px;
}
#googlelogo{
  margin-bottom: 25px;
}
#search_bar{
  position: relative;
  right: 90px;
  margin-right:220px;
  margin-bottom: 15px;
  width: 450px;
   height: 30px;
   padding-right: 10px;
   border: none;
   box-shadow: 1px 1px 2px #848484
}
 .search-button{
   display: inline;
     width: 200px;

       background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-width: 54px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}
#search{
  margin-left: 15px;
}

.footer{
position: relative;
top: 156px;
right: 20px;
display: block;
text-align: right;
}
h6{
  display: inline;
}
